.contentBackground{
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: #3F4548;
}

.subOptionsMenu{
    position: relative;

    top: 5%;

    left: 50%;

    transform: translateX(-50%);

    width: 95%;
    height: 7.5%;

    line-height: 120%;
}

.subOptionsMenu .option{
    position: relative;

    width: calc(100% / 3);
    height: 100%;

    top: 50%;

    transform: translateY(-50%);

    float: left;
    text-align: center;

    cursor: pointer;

}

.subOptionsMenu .option .text{
    position: absolute;

    font-family: LEMONMILK-Regular;

    width: fit-content;
    height: fit-content;

    left: 50%;
    bottom: 30%;

    transform: translateX(-50%);

    transition: bottom 0.2s ease-in-out;

    font-size: 1vw;

    white-space:nowrap;

    color: #C8C8C8;
}

.subOptionsMenu .option .line{
    position: absolute;

    width: 100%;
    top: 92%;

    background-color: #C8C8C8;

    height: 8%;

    transition: background-color 0.2s ease-in-out;
}

.subOptionsMenu .option:hover .text{
    bottom: 50%;
}

.subOptionsMenu .option:hover .line{
    background-color: #00c5f0;
}



.subOptionsMenu .option .left{
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
}

.subOptionsMenu .option .right{
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}



.myBusinessContent{
    position: absolute;

    top: 15%;
    left: 2.5%;

    width: 95%;
    height: 85%;
}
