.businessManageContainer{
    position: absolute;

    width: 100%;
    height: 100%;
}

.businessManageContainer .menuDashContainer{
    position: absolute;

    left: 0;
    top: 0;

    width: 25%;
    height: 100%;
    
}

.businessManageContainer .contentContainer{
    position: absolute;

    left: 25%;
    top: 0%;

    height: 100%;
    width: 75%;

    overflow-x: auto;
}

@media screen and (max-width: 980px) {
    .businessManageContainer .menuDashContainer{
        position: relative;
    
        left: 0;
        top: 0;
    
        width: 100%;
        min-height: fit-content;
        height: 65%;
        
    }
    
    .businessManageContainer .contentContainer{
        position: relative;
    
        left: 0%;
    
        height: 72%;
        width: 100%;
    }
}