.calendarContainer {
    position: relative;

    width: 100%;

    top: 15%;
    height: 85%;

    overflow-x: visible;
    overflow-y: scroll;
}

.calendarContainer .worker{
    position: sticky;
    display: inline-block;

    top: 0;

    z-index: 1;

    left: 5%;

    width: 20%;
    height: 10%;

    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;

    background-color: #C8C8C8;

    color: black;

    font-size: 1.5em;

    text-align: center;
}

.calendarContainer .worker span{
    position: absolute;

    width: 100%;

    left: 50%;
    transform: translateX(-50%);

    bottom: 0%;

    font-family: LEMONMILK-Regular;
    font-size: 1.25vw;
}

.calendarContainer .calendar{
    position: absolute;

    background-color: rgb(33, 33, 33);

    top: 10%;
    left: 0;

    height: fit-content;
    width: 100%;
}

.calendarContainer .hourLiner{
    position: relative;

    width: 100%;
    height: 15vh;

    color: red;

    text-align: right;

    top: 1.5vh;
}

.calendarContainer .hourLiner .hour{
    position: absolute;

    width: 5%;
    height: 100%;
}
.calendarContainer .hourLiner span{
    position: absolute;

    right: 15%;

    width: fit-content;
    height: fit-content;

    transform: translateY(-50%);

    font-family: LEMONMILK-Regular;

    font-size: 1vw;

    color: #C8C8C8;

}


.calendarContainer .hourLiner .line{
    position: absolute;

    left: 5%;

    transform: translateY(-50%);

    height: 3%;
    width: 95%;

    background-color: #C8C8C8;

    border-radius: 5vh;
}

.calendarContainer .hourLiner .halfLine{
    position: absolute;

    left: 5%;

    top: 50%;
    transform: translateY(-50%);

    height: 1%;
    width: 95%;

    background-color: #C8C8C8;

    border-radius: 5vh;
}

.calendarContainer .calendar .reservationContainer{
    position: absolute;

    width: 20%;

    border-radius: 1.5vh;
    font-size: 1.5vw;

    cursor: pointer;
}

.calendarContainer .calendar .reservationContainer .name{
    position: relative;

    top: 2.5%;

    width: 100%;
    height: fit-content;

    text-align: center;

    font-family: LEMONMILK-Regular;
    font-size: 0.9em;
}

.calendarContainer .calendar .reservationContainer .time{
    position: relative;

    top: 2.5%;

    width: 100%;
    height: fit-content;

    text-align: center;

    font-family: LEMONMILK-Regular;
    font-size: 0.75em;
}

.dateSelector{
    position: absolute;

    top: 1%;

    height: 13%;
    width: 100%;

    background-color: #C8C8C8;

    font-size: calc(1vw);
}

.dateSelector .dateContainer{
    position: relative;
    display: inline-block;

    min-width: 1.5em;
    width: 20%;
    height: 100%;

    text-align: center;
    border: 1px solid black;

    cursor: pointer;

    user-select: none;
    white-space: nowrap;
}

.dateSelector .effect{
    transition: background-color 0.3s ease-in-out;
}

.dateSelector .effect:hover{
    background-color: #00c5f0;
}

.dateContainer .date{
    position: absolute;
    
    font-family: LEMONMILK-Regular;
    font-size: 0.95em;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.dateContainer .dayText{
    position: absolute;
    display: block;
    
    font-family: LEMONMILK-Regular;
    font-size: 1.5em;

    text-align: center;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reservationCreator{
    position: fixed;

    top: 0;
    left: 100%;

    background-color: #1D2124;

    width: 25%;
    height: 100%;

    font-size: 2vh;

    transition: transform 0.5s ease-in-out;
    min-width: 400px;
}

.reservationCreator .close{
    position: absolute;

    top: 2%;
    right: 2%;

    color: white;

    background-color: #8b2722;

    width: fit-content;
    height: fit-content;

    border-left: 0.75em solid #8b2722;
    border-right: 0.75em solid #8b2722;
    border-radius: 5vh;

    font-family: LEMONMILK-Regular;
    font-size: 0.95em;

    cursor: pointer;

    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.reservationCreator .close span{
    position: relative;

    top: 50%;

    transform: translateY(-50%);
}

.reservationCreator .close:hover{
    border-color: #bd5954;
    background-color: #bd5954;
    box-shadow: 0 0px 0.5vh #bd5954;
}

.reservationCreator .title{
    position: relative;

    height: fit-content;

    font-family: LEMONMILK-Regular;
    font-size: 0.95em;

    top: 8%;

    color: #C8C8C8;
}

.reservationCreator .centered{
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    text-align: center;
}

.reservationCreator input{
    position: relative;

    outline: none;
    border: 0;
    padding: 0;

    height: 3.5%;

    top: 8%;

    border-radius: 0.5vh;

    margin-bottom: 3%;
}

.reservationCreator .full{
    position: relative;

    text-indent: 2%;

    width: 90%;

    left: 50%;
    transform: translateX(-50%);
}

.reservationCreator .half{
    position: relative;

    text-indent: 2%;

    width: 40%;

    margin-right: 10%;

    left: 25%;
    transform: translateX(-50%);
}

.reservationCreator .halfTitle{
    position: relative;
    display: inline-block;

    width: 40%;

    margin-right: 10%;

    left: 25%;
    transform: translateX(-50%);
}

.reservationCreator select{
    position: relative;

    outline: none;
    border: 0;
    padding: 0;

    height: 3.5%;

    top: 8%;

    border-radius: 0.5vh;

    margin-bottom: 5%;
}

.reservationCreator .bigAsstTitle{
    position: relative;

    position: relative;

    height: fit-content;

    font-family: LEMONMILK-Regular;
    font-size: 1.5em;

    top: 8%;

    color: #C8C8C8;

    text-align: center;
}

.reservationCreator .acceptButton{
    position: relative;

    top: 8%;

    border: none;
    padding: 0;
    outline: none;

    min-width: fit-content;
    width: 50%;

    min-height: fit-content;
    height: 5%;

    left: 50%;
    transform: translateX(-50%);

    border-radius: 1.5vw;

    font-family: LEMONMILK-Regular;

    background-color: #00c5f0;

    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.reservationCreator .acceptButton:hover{
    background-color: rgb(0, 197, 240);
    box-shadow: 0 0px 20px rgba(0, 197, 240, 1);
}

.reservationCreator .errorMessage{
    position: relative;

    top: 8%;

    font-family: LEMONMILK-Regular;
    font-size: 0.8em;

    height: fit-content;
    width: fit-content;

    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1%;

    text-align: center;
}

.moreOptions{
    position: relative;

    width: 5%;
    height: 3%;

    top: 2%;
    left: 4%;

    cursor: pointer;
}

.moreOptions img{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    filter: invert(99%) sepia(0%) saturate(4%) hue-rotate(131deg) brightness(102%) contrast(102%);
}

.moreOptions .effect{
    opacity: 0;

    filter: invert(31%) sepia(99%) saturate(7109%) hue-rotate(357deg) brightness(96%) contrast(123%);
    transition: opacity 0.3s ease-in-out;
}

.moreOptions .effect:hover{
    opacity: 1;
}
