.OrgSettingsDiv{
    position: relative;

    width: 100%;
    height: 100%;
}

.OrgSettingsDiv .BigTitle{
    position: relative;

    color: #C8C8C8;

    top: 1%;

    text-align: center;

    font-size: 150%;
    font-family: LEMONMILK-Regular;

    margin-bottom: 2%;
}

.OrgSettingsDiv .SmollTitle{
    color: #C8C8C8;

    text-align: center;

    font-size: 110%;
    font-family: LEMONMILK-Regular;
}

.OrgSettingsDiv input{
    position: relative;

    width: 40%;
    height: 4%;

    border: none;
    padding: 0;

    border-radius: 0.9vh;

    left: 50%;
    transform: translateX(-50%);

    text-indent: 1%;

    outline: none;
}

.OrgSettingsDiv .changeBtn{
    position: relative;
    display: block;

    min-width: fit-content;
    width: 15%;

    min-height: fit-content !important;
    height: 4%;

    text-align: center;
  
    border: none;
    padding: 0;
    outline: none;

    left: 50%;
    transform: translateX(-50%);

    border-radius: 1.5vw;

    font-family: LEMONMILK-Regular;

    background-color: #00c5f0;

    margin-bottom: 3%;

    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.OrgSettingsDiv .changeBtn:hover{
    background-color: rgb(0, 197, 240);
    box-shadow: 0 0px 20px rgba(0, 197, 240, 1);
}

.OrgSettingsDiv .errorText{
    position: relative;

    width: 80%;
    height: fit-content;

    color: #8b2722;
    font-family: LEMONMILK-Regular;

    font-size: 1.45vh;

    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 2%;
    text-align: center;
}

.noAccess{
    position: absolute;

    height: fit-content;
    width: fit-content;

    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);

    font-family: LEMONMILK-Regular;
    color: white;
}