.PageBtn {
    position: relative;
    user-select: none;

    cursor: pointer;

    width: fit-content;
    height: fit-content;

    color: gray;
    background-color: transparent;

    bottom: 0%;
    left: 50%;

    border:1px solid transparent !important;

    transform: translate(-50%);
}

.PageBtn .stateResponse {
    position: absolute;

    left: 50%;
    width: 0%;

    bottom: 37.5%;
    height: 3%;

    background-color: gray;
    transition: width 200ms linear, left 200ms linear;
}

.PageBtn:hover .stateResponse{
    left: -2.5%;
    width: 105%;
}

p {
    color: inherit;
    text-decoration: inherit;
}

p:hover {
    color: inherit;
}