@media (orientation: landscape) {
    .loginDiv {
        position: absolute;
    
        left: 35vw;
        width: 30vw;
    
        top: 17.5vh;
        height: 65vh;
        min-height: 351px;
    }

    .ReserveIt_Icon img{
        position: absolute;
    
        top: 50%;
        left: 50%;
      
        margin: -45vh 0 0 -35vw;
    
        width: 70vw;
        height: 90vh;
        
        user-select: none;
    }
}
  
  @media (orientation: portrait) {

    .loginDiv {
        position: fixed;
        
    /*Ezért pokolra jutok*/
        left: 10%;
        width: 80%;
    
        top: 11.5%; 
        height: 77%;
        min-height: 351px;


    }

    .ReserveIt_Icon img{
        position: absolute;
    
        top: 50%;
        left: 50%;
      
        margin: -31.622vh 0 0 -90vw;
    
        width: 180vw;
        height: 63.244vh;
        
        user-select: none;
    }
}




.loginDiv .background{
    background-color: black;
    opacity: 0.95;
    height: 100%;
    width: 100%;

    border-radius: 1vw;
}

.ReserveIt_Icon{
    position: absolute;
    width: 100%;
    height: 50%;

    bottom: 72.5%;
    left: 0%;

    background-color: transparent;
}

.pageBtnContainer{
    position: absolute;

    text-align: center;

    top: 12.5%;


    left: 15%;
    height: 10%;
    width: 70%;

    column-count: 2;
    column-gap: 5%;
}

html {
    position: absolute;
    background: url(../images/ReserveIt_NoText.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
